<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>PyKachchh | Workshop</title>
  <meta name="description" content="Python Workshop being organized at Kachchh">
  <meta name="author" content="kskvku.digitaluniversity.ac">

  <!-- Mobile Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon -->
  <link rel="shortcut icon" href="images/favicon.ico">

  <!-- Web Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>

  <!-- @if NODE_ENV == 'build' -->
  <!-- bower:css -->
  <!-- endbower-->
  <!-- PyKachchh core CSS file -->
  <link href="css/style.css" rel="stylesheet">
  <!-- @endif -->

  <!-- @if NODE_ENV == 'dist' -->
  <link href="css/web.min.css" rel="stylesheet">
  <!-- @endif -->
  </head>

<body class="no-trans">
  <!-- scrollToTop -->
  <!-- ================ -->
  <div class="scrollToTop"><i class="icon-up-open-big"></i></div>

  <!-- header start -->
  <!-- ================ -->
  <header class="header fixed clearfix navbar navbar-fixed-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4">

          <!-- header-left start -->
          <!-- ================ -->
          <div class="header-left clearfix">

            <!-- logo -->
            <div class="logo smooth-scroll">
              <a href="#banner"><img id="logo" src="images/logo_50x50.png" alt="Workshop"></a>
            </div>

            <!-- name-and-sub -->
            <div class="site-name-and-sub smooth-scroll">
              <div class="site-name"><a href="#banner">PyBhuj 2015</a></div>
              <div class="site-sub">Organized by <a target="_blank" href="http://kskvku.digitaluniversity.ac/">KSKVKU</a></div>
            </div>

          </div>
          <!-- header-left end -->

        </div>
        <div class="col-md-8">

          <!-- header-right start -->
          <!-- ================ -->
          <div class="header-right clearfix">

            <!-- main-navigation start -->
            <!-- ================ -->
            <div class="main-navigation animated">

              <!-- navbar start -->
              <!-- ================ -->
              <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">

                  <!-- Toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                      <li class="active"><a href="#banner">Home</a></li>
                      <li><a href="#about">About</a></li>
                      <li><a href="#services">Schedule</a></li>
                      <li><a href="#sponsors">Sponsors</a></li>
                      <li><a href="#venue">Venue</a></li>
                      <li><a href="#registration"><b class="blue">Register!</b></a></li>
                    </ul>
                  </div>

                </div>
              </nav>
              <!-- navbar end -->

            </div>
            <!-- main-navigation end -->

          </div>
          <!-- header-right end -->

        </div>
      </div>
    </div>
  </header>
  <!-- header end -->

  <!-- banner start -->
  <!-- ================ -->
  <div id="banner" class="banner">
    <div class="banner-image">
      <div class="backstretch">
        <img src="images/banner3.jpg">
      </div>
    </div>
    <div class="banner-caption">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
            <h1 class="text-center">Python <span>Workshop</span></h1>
            <p class="lead text-center">Little bit description about workshop. Tag lines like: "First time in Kachchh!"</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- banner end -->

  <!-- section start -->
  <!-- ================ -->
  <div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 id="about" class="title text-center">About <span>Workshop</span></h1>
          <div class="space"></div>
          <div class="row">
              <p>Expecting best description here Chhanga sir! We will introduce our speackers here with photo and description also.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section end -->

  <!-- section start -->
  <!-- ================ -->
  <div class="section translucent-bg bg-image-1 blue">
    <div class="container object-non-visible" data-animation-effect="fadeIn">
      <h1 id="services"  class="text-center title">Schedule</h1>
      <div class="space"></div>
      <div class="row">
        <div class="col-sm-6">
          <div class="media">
            <div class="media-body text-right">
              <h4 class="media-heading">Registration</h4>
              <p>Beginning at 8:30am we shall register participants and distribute kits in the Court Hall.<br /><br /></p>
            </div>
            <div class="media-right">
              <i class="fa fa-briefcase"></i>
            </div>
          </div>
          <div class="media">
            <div class="media-body text-right">
              <h4 class="media-heading">Inauguration</h4>
              <p>From 9:00am to 9:45am Inauguration ceremoney will be held at Court Hall.<br><br></p>
            </div>
            <div class="media-right">
              <i class="fa fa-exchange"></i>
            </div>
          </div>
          <div class="media">
            <div class="media-body text-right">
              <h4 class="media-heading">Coffee Break</h4>
              <p>From 9:45am to 10:0oam we shall have coffee and chat about mumbo jumbo. The non-serious part.<br><br></p>
            </div>
            <div class="media-right">
              <i class="fa fa-coffee"></i>
            </div>
          </div>
          <div class="media">
            <div class="media-body text-right">
              <h4 class="media-heading">Talk 1</h4>
              <p>From 10:am to 11:30am (Description of the talk............................................)<br><br></p>
            </div>
            <div class="media-right">
              <i class="fa fa-code"></i>
            </div>
          </div>
        </div>
        <div class="space visible-xs"></div>
        <div class="col-sm-6">
          <div class="media">
            <div class="media-left">
              <i class="fa fa-code"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Talk 2</h4>
              <p>From 11:30:am to 01:00pm (Description of the talk............................................)<br><br></p>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <i class="fa fa-code"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Lunch Break</h4>
              <p>1:00pm to 2:00pm<br><br><br></p>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <i class="fa fa-code"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Talk 3</h4>
              <p>From 02:00pm to 04:00pm (Description of the talk............................................)<br><br></p>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <i class="fa fa-code"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Talk 4</h4>
              <p>From 4:00pm to 5:00pm (Description of the talk............................................)<br><br></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section end -->

  <!-- section start -->
  <!-- ================ -->
  <div class="section">
    <div class="container">
      <h1 class="text-center title" id="sponsors">Sponsors</h1>
      <div class="separator"></div>
      <p class="lead text-center">List of Sponsors</p>
      <br>
      <div class="row object-non-visible" data-animation-effect="fadeIn">
        <div class="col-md-12">
          <!-- portfolio items start -->
          <div class="isotope-container row grid-space-20">
            <div class="col-sm-6 col-md-3 isotope-item web-design">
              <div class="image-box">
                <div class="overlay-container">
                  <img src="images/sponsor-1.jpg" alt="sponsor-1">
                  <a class="overlay" data-toggle="modal" data-target="#sponsor-1">
                    <i class="fa fa-search-plus"></i>
                    <span>Sponsor</span>
                  </a>
                </div>
                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#sponsor-1">Please sponsor us!</a>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="sponsor-1" tabindex="-1" role="dialog" aria-labelledby="sponsor-1-label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                      <h4 class="modal-title" id="project-1-label">We need Sponsors</h4>
                    </div>
                    <div class="modal-body">
                      <h3>Sponsorship description</h3>
                      <div class="row">
                        <div class="col-md-6">
                          <p>We will explain our sponsor here.<a href="mailto:test@gmail.com">Send your query</a></p>
                        </div>
                        <div class="col-md-6">
                          <img src="images/sponsor-1.jpg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal end -->
            </div>
          </div>
      </div>
    </div>
  </div>
  <!-- section end -->

  <!-- section start -->
  <!-- ================ -->
  <div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 id="venue" class="title text-center"><span>Venue</span></h1>
          <p class="lead text-center">Bhuj-Kachchh</p>
          <div class="space"></div>
          <div class="row">
            <div class="col-md-8">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3666.8323664999252!2d69.655714!3d23.212778999999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39511e31bb8dab5d%3A0xc4ad3a3601f5bdd3!2sK.S.K.V.+KACHCHH+UNIVERSITY!5e0!3m2!1sen!2sin!4v1424718043233" width="750" height="380" frameborder="0" style="border:0"></iframe>
            </div>
            <div class="col-md-4">
              <img src="images/kskvku.jpg" height="150" width="150" alt="KSKVKU-LOGO"/>
              <h2>K.S.K.V. Kachchh Univeristy</h2>
              <h3>Department of Computer Science</h3>
              <p>Nr. Changleshwar Mahadev Temple, Mundra Road, Bhuj-Kachchh</p>
              <p><i class="fa fa-phone pr-10"></i> +00 1234567890</p>
              <p><i class="fa fa-envelope-o pr-10"></i> dcs@kskvku.ac</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section end -->

  <!-- section start -->
  <!-- ================ -->
  <div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 id="registration" class="title text-center"><span>Registration</span></h1>
          <div class="space"></div>
          <div class="row">
            <h2 class="text-center">Coming soon!</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section end -->


  <!-- footer start -->
  <!-- ================ -->
  <footer id="footer">
    <!-- .subfooter start -->
    <!-- ================ -->
    <div class="subfooter">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="text-center">Copyright © 2014 PyKachchh by <a target="_blank" href="#">Someone</a>.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- .subfooter end -->
  </footer>
  <!-- footer end -->

        <!-- JavaScript files placed at the end of the document so the pages load faster
        ================================================== -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-57792488-5', 'auto');
          ga('send', 'pageview');

        </script>
        <!-- @if NODE_ENV == 'build' -->
        <script type="text/javascript" src="js/modernizr.js"></script>
        <!-- bower:js -->
        <!-- endbower -->
        <script type="text/javascript" src="js/template.js"></script>
        <!-- @endif -->

        <!-- @if NODE_ENV == 'dist' -->
        <script type="text/javascript" src="js/web.min.js"></script>
        <!-- @endif -->
        </body>
      </html>
